
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #151515;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #434242;
    color: black;
  }